@use "sass:list";
@use "sass:math";

@import "settings";
@import "linear-gradient";

/** media */
@mixin mq-max($width: $wp-mobile-width) {
    @media only screen and (max-width: #{$width}) {
        @content;
    }
}

@mixin mq-min($width: $desktop-width) {
    @media only screen and (min-width: #{$width}) {
        @content;
    }
}

/** breakpoint */
@mixin mq($breakpoint, $type: min) {
    $breakpoint-value: get-breakpoint($breakpoint);
    @if $breakpoint-value {
        @if $type == max {
            $breakpoint-value: #{$breakpoint-value - fs(0.5)};
        }
        @media only screen and (#{$type}-width: $breakpoint-value) {
            @content;
        }
    } @else {
        @warn 'Invalid breakpoint: #{$breakpoint}.';
    }
}

/** */
@mixin not-xxdesktop {
    @include mq(xxdesktop, max);
}

@mixin not-xdesktop {
    @include mq(xdesktop, max);
}

@mixin not-desktop {
    @include mq(desktop, max);
}

@mixin wp-mobile {
    @include mq(wp-mobile, max);
}

@mixin mobile {
    @include mq(mobile, max);
}

@mixin wp-mobile-small {
    @include mq(wp-mobile-small, max);
}

/** */
@mixin not-mobile {
    @include mq(mobile);
}

@mixin wp-desktop {
    @include mq(wp-mobile);
}

@mixin desktop {
    @include mq(desktop);
}

@mixin xdesktop {
    @include mq(xdesktop);
}

@mixin xxdesktop {
    @include mq(xxdesktop);
}

/** */
@mixin media-css($css_property: font-size, $d: 16, $t: false, $m: false) {
    @if (is-int($d) or $d == 0) {
        #{$css_property}: fs($d);
    }
    @if (is-int($t) or $t == 0) {
        @include not-desktop {
            #{$css_property}: fs($t);
        }
    }
    @if (is-int($m) or $m == 0) {
        @include mobile {
            #{$css_property}: fs($m);
        }
    }
}

@mixin media-box($d: 30, $t: false, $m: false) {
    @if (is-int($d) or $d == 0) {
        @include box($d);
    }
    @if (is-int($t) or $t == 0) {
        @include not-desktop {
            @include box($t);
        }
    }
    @if (is-int($m) or $m == 0) {
        @include mobile {
            @include box($m);
        }
    }
}

/** */
@mixin media-fs($d: 16, $t: false, $m: false) {
    @include media-css(font-size, $d, $t, $m);
}

@mixin media-gap($d: 30, $t: false, $m: false) {
    @include media-css(gap, $d, $t, $m);
}

@mixin media-pt($d: 30, $t: false, $m: false) {
    @include media-css(padding-top, $d, $t, $m);
}

@mixin media-pb($d: 30, $t: false, $m: false) {
    @include media-css(padding-bottom, $d, $t, $m);
}

@mixin media-mt($d: 30, $t: false, $m: false) {
    @include media-css(margin-top, $d, $t, $m);
}

@mixin media-mb($d: 30, $t: false, $m: false) {
    @include media-css(margin-bottom, $d, $t, $m);
}

/** */
@mixin fs-heading($heading: h1) {
    font-size: fs(map-get($header-styles-small, $heading));
    @include not-mobile {
        font-size: fs(map-get($header-styles-medium, $heading));
    }
}

@mixin placeholder($color: $gray) {
    &::placeholder {
        color: $color;
    }
}

@mixin webkit-scrollbar($width: $scrollbar-with, $height: $scrollbar-height) {
    &::-webkit-scrollbar {
        height: fs($height);
        width: fs($width);
    }
}

@mixin webkit-scrollbar-track($bg_color: $light-gray) {
    &::-webkit-scrollbar-track {
        background-color: $bg_color;
    }
}

@mixin webkit-scrollbar-thumb($bg_color: $gray) {
    &::-webkit-scrollbar-thumb {
        background-color: $bg_color;
    }
}

/** */
@mixin responsive-bg-ratio($image-width: 204, $image-height: 81) {
    background-size: cover;
    background-position: center;
    display: block;
    height: 0;
    padding-bottom: percentage(math.div($image-height, $image-width));

    @supports (aspect-ratio: 1 / 1) {
        aspect-ratio: list.slash($image-width, $image-height);
    }
}

@mixin responsive-wrapper($width: 100%) {
    position: relative;
    display: block;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    width: $width;
    & > img {
        display: block;
        height: 100% !important;
        width: auto;
        min-width: 100%;
        max-width: unset;
        object-fit: cover;
        object-position: center;
        @include centering-elements;
    }
}

@mixin responsive-scale($scale: 1.06, $opacity: 0.95) {
    transform: scale(1.0001);
    will-change: transform;
    transition: transform 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94), opacity 0.3s;
    &:hover {
        transform: scale($scale);
        opacity: $opacity;
    }
}

@mixin responsive-image-auto {
    height: auto !important;
    width: auto !important;
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
    min-width: 80%;
    min-height: 80%;
}

@mixin responsive-ratio($ratio-width: 3, $ratio-height: 2, $pseudo: false, $width_percent: 100%) {
    $padding: #{math.div($width_percent * $ratio-height, $ratio-width)};
    @if $pseudo {
        &::before {
            content: '';
            position: relative;
            width: $width_percent;
            padding-bottom: $padding;
        }
    } @else {
        height: 0;
        padding-bottom: $padding;
    }

    @supports (aspect-ratio: 3 / 2) {
        aspect-ratio: list.slash($ratio-width, $ratio-height);
    }
}

/** */
@mixin linear-gradient($angle: 90deg, $c: $color1, $amount: 12deg) {
    background-image: linear-gradient($angle, $c 0%, adjust-hue($c, $amount) 100%);
}

@mixin linear-gradient2($angle: 90deg, $c1: $color1, $c2: $color2) {
    background-image: linear-gradient($angle, $c1 0%, $c2 100%);
}

@mixin gradient-text($angle: 135deg, $c: $color1, $amount: 12deg) {
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient($angle, $c, adjust-hue($c, $amount));
    color: transparent;
    display: inline-block;
}

@mixin gradient-text2($angle: 135deg, $c1: $color1, $c2: $color2) {
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient($angle, $c1 0%, $c2 100%);
    color: transparent;
    display: inline-block;
}

/** */
@mixin box($width: 300, $height: $width) {
    width: fs($width);
    height: fs($height);
}

@mixin centering-elements($horizontal: true, $vertical: true, $position_absolute: true) {
    @if ($position_absolute == true) {
        position: absolute;
    } @else {
        position: relative;
    }

    @if ($horizontal and $vertical) {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    } @else if $horizontal {
        left: 50%;
        transform: translate(-50%, 0);
    } @else if $vertical {
        top: 50%;
        transform: translate(0, -50%);
    }
}

@mixin centering-self($width: 300, $height: $width) {
    @include box($width, $height);
    position: absolute;
    top: calc(50% - #{fs(math.div($height, 2))});
    left: calc(50% - #{fs(math.div($width, 2))});
}

/** */
@mixin grid-gap($d: 1, $t: 0, $m: 0, $gap: 30, $gap_m: 20, $class_cell: cell) {
    @include media-gap($gap, false, $gap_m);
    & > .#{$class_cell} {
        @include grid-cell($d, $t, $m, $gap, $gap_m);
    }
}

@mixin grid-cell($d: 1, $t: 0, $m: 0, $gap: 0, $gap_m: 0) {
    @include grid-column($d, $gap);
    @if (is-int($t) and $t > 0) {
        @include not-desktop {
            @include grid-column($t, $gap);
        }
    }
    @if (is-int($m) and $m > 0) {
        @include mobile {
            @if (is-int($gap_m) and $gap_m >= 1) {
                @include grid-column($m, $gap_m);
            } @else {
                @include grid-column($m, $gap);
            }
        }
    }
}

@mixin grid-column($n: 1, $gap: 0) {
    @if ($gap < 1) {
        @if ($n < 1) {
            flex: 0 0 percentage($n);
            max-width: percentage($n);
        } @else {
            flex: 0 0 percentage(math.div(1, $n));
            max-width: percentage(math.div(1, $n));
        }
    } @else {
        @if ($n < 1) {
            flex: 0 0 percentage($n);
            max-width: percentage($n);
        } @else if ($n == 1) {
            flex: 0 0 percentage(math.div(1, $n));
            max-width: percentage(math.div(1, $n));
        } @else {
            flex: 0 0 calc(#{percentage(math.div(1, $n))} - #{fs(($n - 1) * math.div($gap, $n))});
            max-width: calc(#{percentage(math.div(1, $n))} - #{fs(($n - 1) * math.div($gap, $n))});
        }
    }
}

/** */
@mixin grid-self($n: 1, $self_n: 1, $gap: 0) {
    @if (is-int($n) and $n > 0 and $n == $self_n) {
        flex: 0 0 percentage(1);
        max-width: percentage(1);
    } @else if (is-int($self_n) and $gap <= 0 and $self_n > 0 and $n > $self_n) {
        flex: 0 0 calc(#{percentage(math.div($self_n, $n))});
        max-width: calc(#{percentage(math.div($self_n, $n))});
    } @else if ($self_n > 0 and $n > $self_n and $gap > 0 and is-int($n) and is-int($self_n)) {
        flex: 0 0 calc(#{percentage(math.div($self_n, $n))} - #{fs(($n - $self_n) * math.div($gap, $n))});
        max-width: calc(#{percentage(math.div($self_n, $n))} - #{fs(($n - $self_n) * math.div($gap, $n))});
    }
}

/** */
@mixin grid-gutter($d: 1, $t: 0, $m: 0, $gutter: 15, $gutter_m: 10, $class_cell: cell) {
    @include mx-gutter($gutter, $gutter_m);
    & > .#{$class_cell} {
        @include px-gutter($gutter, $gutter_m);
        @if (is-int($d) and $d > 0) {
            @include desktop {
                width: percentage(math.div(1, $d));
            }
        }
        @if (is-int($t) and $t > 0) {
            @include not-desktop {
                width: percentage(math.div(1, $t));
            }
        }
        @if (is-int($m) and $m > 0) {
            @include mobile {
                width: percentage(math.div(1, $m));
            }
        }
    }
}

@mixin mx-gutter($gutter: 15, $gutter_m: 10) {
    margin-left: -#{fs($gutter)};
    margin-right: -#{fs($gutter)};
    @if (is-int($gutter_m) and $gutter_m >= 1) {
        @include mobile {
            margin-left: -#{fs($gutter_m)};
            margin-right: -#{fs($gutter_m)};
        }
    }
}

@mixin px-gutter($gutter: 15, $gutter_m: 10) {
    padding-left: #{fs($gutter)};
    padding-right: #{fs($gutter)};
    @if (is-int($gutter_m) and $gutter_m >= 1) {
        @include mobile {
            padding-left: #{fs($gutter_m)};
            padding-right: #{fs($gutter_m)};
        }
    }
}

/** */
@mixin line-clamp($n: 2, $max-height: auto) {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: initial;

    @supports (-webkit-line-clamp: $n) {
        -webkit-line-clamp: $n;
        display: -webkit-box;
        -webkit-box-orient: vertical;
    }

    @supports not (-webkit-line-clamp: $n) {
        max-height: $max-height;
    }
}

/** padding-left, padding-right, left, right ... */
@mixin position-screen($css_property: padding-left, $gutter: 15, $gutter_m: 10, $extra_width: false) {
    #{$css_property}: calc(50vw - #{math.div($global-screen, 2)} + #{fs($gutter)});
    @if ($extra_width == true) {
        @include xxdesktop {
            #{$css_property}: calc(50vw - #{math.div($global-screen-extra, 2)} + #{fs($gutter)});
        }
    }
    &.width-extra {
        @include xxdesktop {
            #{$css_property}: calc(50vw - #{math.div($global-screen-extra, 2)} + #{fs($gutter)});
        }
    }

    @include not-xxdesktop {
        #{$css_property}: calc(50vw - #{math.div($global-screen-medium, 2)} + #{fs($gutter)});
    }
    @include mobile {
        #{$css_property}: fs($gutter_m);
    }
}

/** */
@mixin right-fullwidth($padding: 15, $padding_m: 10, $extra_width: false) {
    margin: 0 0 0 auto;
    padding-left: fs($padding);
    max-width: calc(50% + #{math.div($global-screen, 2)});

    @if ($extra_width == true) {
        @include xxdesktop {
            max-width: calc(50% + #{math.div($global-screen-extra, 2)});
        }
    }
    &.width-extra {
        @include xxdesktop {
            max-width: calc(50% + #{math.div($global-screen-extra, 2)});
        }
    }

    @include not-xxdesktop {
        max-width: calc(50% + #{math.div($global-screen-medium, 2)});
    }
    @include mobile {
        padding-left: fs($padding_m);
        max-width: 100%;
    }
}

@mixin left-fullwidth($padding: 15, $padding_m: 10, $extra_width: false) {
    margin: 0 auto 0 0;
    padding-right: fs($padding);
    max-width: calc(50% + #{math.div($global-screen, 2)});

    @if ($extra_width == true) {
        @include xxdesktop {
            max-width: calc(50% + #{math.div($global-screen-extra, 2)});
        }
    }
    &.width-extra {
        @include xxdesktop {
            max-width: calc(50% + #{math.div($global-screen-extra, 2)});
        }
    }

    @include not-xxdesktop {
        max-width: calc(50% + #{math.div($global-screen-medium, 2)});
    }
    @include mobile {
        padding-right: fs($padding_m);
        max-width: 100%;
    }
}

/** */
@mixin grid-container($padding: 15, $padding_m: 10, $extra_width: false) {
    max-width: $global-screen;
    margin-left: auto;
    margin-right: auto;
    padding-right: fs($padding);
    padding-left: fs($padding);

    @if ($extra_width == true) {
        @include xxdesktop {
            max-width: $global-screen-extra;
        }
    }
    &.width-extra {
        @include xxdesktop {
            max-width: $global-screen-extra;
        }
    }

    @include not-xxdesktop {
        max-width: $global-screen-medium;
    }

    @include mobile {
        padding-right: fs($padding_m);
        padding-left: fs($padding_m);
    }
}

@mixin grid-padding-x($padding: 15, $padding_m: 10, $class_cell: cell) {
    margin-left: -#{$padding_m};
    margin-right: -#{$padding_m};
    @include not-mobile {
        margin-left: -#{$padding};
        margin-right: -#{$padding};
    }
    & > .#{$class_cell} {
        padding-left: #{$padding_m};
        padding-right: #{$padding_m};
        @include not-mobile {
            padding-right: #{$padding};
            padding-left: #{$padding};
        }
    }
}

/** */
@mixin flex-align-center {
    display: flex;
    align-items: center;
}

@mixin flex-justify-center {
    display: flex;
    justify-content: center;
}

@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin flex-shrink {
    flex: 0 0 auto;
    max-width: 100%;
}

@mixin flex-auto {
    flex: 1 1 0;
    min-width: 0;
}

/** */
@mixin hover-color($c1: $color1, $c2: $c1, $text-decoration: false) {
    color: $c1;
    &:hover {
        color: $c2;
        @if ($text-decoration == false) {
            text-decoration: none;
        } @else {
            text-decoration: underline;
        }
    }
}

@mixin hover-svg($c1: $color1, $c2: $c1) {
    fill: $c1;
    &:hover {
        fill: $c2;
    }
}

/** */
@mixin underline($color: $gray, $height: 1px, $width: 100%, $left: 0, $bottom: 0) {
    position: relative;
    display: inline-block;
    &::before {
        content: "";
        display: inline-block;
        width: $width;
        height: $height;
        position: absolute;
        bottom: $bottom;
        left: $left;
        background-color: $color;
        transform-origin: right center;
        transform: scaleX(0);
        transition: transform 0.2s cubic-bezier(1, 0, 0, 1);
    }
    &:hover {
        &::before {
            transform-origin: left center;
            transform: scaleX(1);
        }
    }
}

@mixin button-arrow($width: 16, $height: $width, $color: #fff) {
    overflow-wrap: break-word;
    &::after {
        content: '';
        display: inline-block;
        margin: 0 0 0 10px;
        @include box($width, $height);
        background-image: inline-svg('<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" style="fill:#{$color};"><path d="m11.293 17.293 1.414 1.414L19.414 12l-6.707-6.707-1.414 1.414L15.586 11H6v2h9.586z"></path></svg>');
        vertical-align: -10%;
    }
}

@mixin button-scale($scale: 0.98) {
    transition: all .3s ease-out .07s;
    &:hover {
        transition: all .3s ease-out .07s;
        transform: scale($scale);
    }
}

/** */
@mixin hardware($backface: true, $perspective: 1000) {
    @if $backface {
        backface-visibility: hidden;
    }
    transform: translate3d(0, 0, 0);
    perspective: $perspective;
}

@mixin list-reset($margin: 0, $padding: 0) {
    margin: $margin;
    padding: $padding;
    list-style: none;
}

@mixin keyframes($name) {
    @-webkit-keyframes #{$name} {
        @content;
    }
    @-moz-keyframes #{$name} {
        @content;
    }
    @keyframes #{$name} {
        @content;
    }
}

/** font-size */
@mixin fs($font-size: 16) {
    font-size: fs($font-size);
}

@function fs($font-size: 16) {
    @return rem-calc($font-size);
}

/** Button hover effect*/
@mixin _effect1($c1: $black, $c2: $white) {
    box-shadow: 0 0 0 2.5em $c1 inset;
    background-color: transparent;
    transition: all 300ms ease;
    color: $c2;
    &:hover {
        box-shadow: 0 0 0 0 $c1 inset, 0 3px 10px rgb(0 0 0 / 30%);
        color: $c1;
        background-color: $c2;
    }
}

// Button hover effect
// http://el.commonsupport.com/newwp/autorex/services-2/
@mixin _effect2($border_radius: 0, $c: $black, $opacity_hover: 0.15) {
    position: relative;
    border-radius: fs($border_radius);
    &::before {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 0;
        content: "";
        background-color: $c;
        transition: 0.5s;
        opacity: 0;
        border-radius: fs($border_radius);
    }
    &:hover {
        &::before {
            width: 100%;
            opacity: $opacity_hover;
        }
    }
}

// Image Hover Effect
// http://el.commonsupport.com/newwp/autorex/services-2/
@mixin _effect3($bg: rgba(255, 255, 255, 0.2), $border: 0) {
    position: relative;
    overflow: hidden;
    border-radius: $border;
    &::before {
        @include centering-elements;
        display: block;
        content: "";
        width: 0;
        height: 0;
        background: $bg;
        opacity: 0;
        z-index: 10;
        border-radius: $border;
    }
    &:hover {
        opacity: 1;

        &::before {
            animation: circle 0.75s;
        }
    }
}

/** */
/** functions to urlencode the svg string*/
@function str-replace($string, $search, $replace: '') {
    $index: str-index($string, $search);
    @if $index {
        @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
    }
    @return $string;
}

@function url-encode($string) {
    $map: (
            "%": "%25",
            "<": "%3C",
            ">": "%3E",
            " ": "%20",
            "!": "%21",
            "*": "%2A",
            "'": "%27",
            '"': "%22",
            "(": "%28",
            ")": "%29",
            ";": "%3B",
            ":": "%3A",
            "@": "%40",
            "&": "%26",
            "=": "%3D",
            "+": "%2B",
            "$": "%24",
            ",": "%2C",
            "/": "%2F",
            "?": "%3F",
            "#": "%23",
            "[": "%5B",
            "]": "%5D"
    );
    $new: $string;
    @each $search, $replace in $map {
        $new: str-replace($new, $search, $replace);
    }
    @return $new;
}

/** $string - svg */
@function inline-svg($string) {
    @return url('data:image/svg+xml;utf8,#{url-encode($string)}');
}

/** https://github.com/pentzzsolt/sass-is-int/blob/master/_is-int.scss */
@function is-int($value) {
    @if type-of($value) != number {
        @warn '`#{$value}` is not a valid number!';
        @return null;
    }
    @return round($value) == $value;
}

/** https://webdesign.tutsplus.com/tutorials/an-introduction-to-error-handling-in-sass--cms-19996 */
@function throw($log: '') {
    @warn $log;
    @return false;
}

/** get breakpoint */
@function get-breakpoint($breakpoint) {
    @if map-has-key($mq-breakpoints, $breakpoint) {
        @return map-get($mq-breakpoints, $breakpoint);
    } @else {
        //@warn 'given `#{$breakpoint}` is not available in `#{$mq-breakpoints}`';
        //@return false;
        @return throw($log: 'given `#{$breakpoint}` is not available in `#{$mq-breakpoints}`');
    }
}