@import "~foundation-sites/scss/settings/settings";
@import "settings";

// 1. Global
// ---------

$global-width: $global-screen;
$global-lineheight: normal;

$global-margin: rem-calc(15);
$global-padding: rem-calc(15);
$global-position: rem-calc(15);

$global-weight-normal: 400;
$global-weight-bold: 700;

$global-menu-padding: 0.7rem rem-calc(15);
$global-menu-nested-margin: rem-calc(15);

$global-flexbox: true;

$foundation-palette: (
        primary: $color1,
        secondary: $color2,
        success: darken($color1, 10),
        warning: $color-red,
        alert: darken($color-red, 10),
);

@include add-foundation-colors;

// 2. Breakpoints
// --------------

$breakpoints: (
        small: 0,
        medium: $mobile-width,
        large: $desktop-width,
        xlarge: $xdesktop-width,
        xxlarge: $xxdesktop-width,
);

// 3. The Grid
// -----------

$grid-column-gutter: (
        small: rem-calc(20),
        medium: rem-calc(30),
);

// 4. Base Typography
// ------------------

$header-font-family: $header-font-family;
$header-font-weight: $global-weight-bold;
$header-color: $header-color;
$header-lineheight: $header-line-height;
$header-margin-bottom: rem-calc(15);
$header-styles: (
        small: (
                "h1": (
                        "font-size": map-get($header-styles-small, h1),
                ),
                "h2": (
                        "font-size": map-get($header-styles-small, h2),
                ),
                "h3": (
                        "font-size": map-get($header-styles-small, h3),
                ),
                "h4": (
                        "font-size": map-get($header-styles-small, h4),
                ),
                "h5": (
                        "font-size": map-get($header-styles-small, h5),
                ),
                "h6": (
                        "font-size": map-get($header-styles-small, h6),
                ),
        ),
        medium: (
                "h1": (
                        "font-size": map-get($header-styles-medium, h1),
                ),
                "h2": (
                        "font-size": map-get($header-styles-medium, h2),
                ),
                "h3": (
                        "font-size": map-get($header-styles-medium, h3),
                ),
                "h4": (
                        "font-size": map-get($header-styles-medium, h4),
                ),
                "h5": (
                        "font-size": map-get($header-styles-medium, h5),
                ),
                "h6": (
                        "font-size": map-get($header-styles-medium, h6),
                ),
        ),
);

$paragraph-lineheight: $paragraph-line-height;
$paragraph-margin-bottom: rem-calc(15);
$anchor-color: $anchor-color;
$defnlist-margin-bottom: rem-calc(15);

// 5. Typography Helpers
// ---------------------

$subheader-margin-bottom: rem-calc(10);
$code-border: 1px solid $light-gray;
$code-block-padding: rem-calc(15);

// 6. Abide
// --------

$input-error-font-weight: $global-weight-normal;

// 7. Accordion
// ------------

$accordion-item-padding: 1.25rem rem-calc(15);
$accordion-content-padding: rem-calc(15);

// 8. Accordion Menu
// -----------------

// 9. Badge
// --------

// 10. Breadcrumbs
// ---------------

$breadcrumbs-item-font-size: rem-calc(12);
$breadcrumbs-item-margin: 0.5rem;
$breadcrumbs-item-uppercase: false;

// 11. Button
// ----------

$button-padding: 0 rem-calc(15);
$button-opacity-disabled: 0.3;

// 12. Button Group
// ----------------

$buttongroup-margin: rem-calc(15);

// 13. Callout
// -----------

$callout-margin: 0 0 rem-calc(15) 0;

// 14. Card
// --------

// 15. Close Button
// ----------------

// 16. Drilldown
// -------------

// 17. Dropdown
// ------------

$dropdown-padding: rem-calc(15);
$dropdown-font-size: rem-calc(15);
$dropdown-sizes: (
        tiny: rem-calc(100),
        small: rem-calc(200),
        large: rem-calc(400),
);

// 18. Dropdown Menu
// -----------------

$dropdownmenu-arrow-padding: rem-calc(30);
$dropdownmenu-min-width: 220px;
$dropdownmenu-border: none;

// 19. Flexbox Utilities
// ---------------------

// 20. Forms
// ---------

$form-spacing: rem-calc(15);
$input-prefix-padding: rem-calc(15);
$form-label-line-height: normal;
$select-triangle-color: $gray;
$input-placeholder-color: $medium-gray;
$input-font-size: rem-calc(15);
$input-line-height: normal;
$input-border-focus: 1px solid $gray;

// 21. Label
// ---------

$label-background: transparent;
$label-color: $medium-black;

// 22. Media Object
// ----------------

// 23. Menu
// --------

$menu-simple-margin: rem-calc(15);

// 24. Meter
// ---------

$meter-height: rem-calc(15);

// 25. Off-canvas
// --------------

$offcanvas-sizes: (
        small: 100%,
        medium: rem-calc(500),
);
$offcanvas-vertical-sizes: (
        small: 100%,
        medium: rem-calc(500),
);

// 26. Orbit
// ---------

$orbit-caption-padding: rem-calc(15);
$orbit-control-padding: rem-calc(15);

// 27. Pagination
// --------------

$pagination-font-size: rem-calc(14);
$pagination-margin-bottom: $global-margin;
$pagination-item-color: $black;
$pagination-item-padding: rem-calc(3 10);
$pagination-item-spacing: rem-calc(1);
$pagination-radius: $global-radius;
$pagination-item-background-hover: $light-gray;
$pagination-item-background-current: $primary-color;
$pagination-item-color-current: $white;
$pagination-item-color-disabled: $medium-gray;
$pagination-ellipsis-color: $black;
$pagination-arrows: false;

// 28. Progress Bar
// ----------------

$progress-height: rem-calc(15);

// 29. Prototype Arrow
// -------------------

// 30. Prototype Border-Box
// ------------------------

// 31. Prototype Border-None
// -------------------------

// 32. Prototype Bordered
// ----------------------

$prototype-border-color: $medium-gray;

// 33. Prototype Display
// ---------------------

// 34. Prototype Font-Styling
// --------------------------

$prototype-wide-letter-spacing: rem-calc(4);

// 35. Prototype List-Style-Type
// -----------------------------

// 36. Prototype Overflow
// ----------------------

// 37. Prototype Position
// ----------------------

// 38. Prototype Rounded
// ---------------------

$prototype-border-radius: rem-calc(3);

// 39. Prototype Separator
// -----------------------

$prototype-separator-height: rem-calc(2);
$prototype-separator-width: 3rem;
$prototype-separator-background: $primary-color;

// 40. Prototype Shadow
// --------------------

// 41. Prototype Sizing
// --------------------

// 42. Prototype Spacing
// ---------------------

// 43. Prototype Text-Decoration
// -----------------------------

// 44. Prototype Text-Transformation
// ---------------------------------

// 45. Prototype Text-Utilities
// ----------------------------

// 46. Responsive Embed
// --------------------

$responsive-embed-margin-bottom: rem-calc(15);
$responsive-embed-ratios: (
        default: 3 by 2,
        widescreen: 16 by 9,
);

// 47. Reveal
// ----------

$reveal-background: $white;
$reveal-width: 600px;
$reveal-max-width: $global-width;
$reveal-padding: $global-padding;
$reveal-border: 1px solid $medium-gray;
$reveal-radius: $global-radius;
$reveal-zindex: 1005;
$reveal-overlay-background: rgba($black, 0.45);

// 48. Slider
// ----------

// 49. Switch
// ----------

// 50. Table
// ---------

$table-background: $white;
$table-color-scale: 5%;
$table-border: 1px solid smart-scale($table-background, $table-color-scale);
$table-padding: rem-calc(8 10 10);
$table-hover-scale: 2%;
$table-row-hover: darken($table-background, $table-hover-scale);
$table-row-stripe-hover: darken($table-background, $table-color-scale + $table-hover-scale);
$table-is-striped: true;
$table-striped-background: smart-scale($table-background, $table-color-scale);
$table-stripe: even;
$table-head-background: smart-scale($table-background, $table-color-scale * 0.5);
$table-head-row-hover: darken($table-head-background, $table-hover-scale);
$table-foot-background: smart-scale($table-background, $table-color-scale);
$table-foot-row-hover: darken($table-foot-background, $table-hover-scale);
$table-head-font-color: $body-font-color;
$table-foot-font-color: $body-font-color;
$show-header-for-stacked: false;
$table-stack-breakpoint: medium;

// 51. Tabs
// --------

$tab-content-padding: rem-calc(15);

// 52. Thumbnail
// -------------

// 53. Title Bar
// -------------

// 54. Tooltip
// -----------

$has-tip-cursor: help;
$has-tip-font-weight: $global-weight-bold;
$has-tip-border-bottom: dotted 1px $dark-gray;
$tooltip-background-color: $black;
$tooltip-color: $white;
$tooltip-padding: 0.75rem;
$tooltip-max-width: 10rem;
$tooltip-font-size: $small-font-size;
$tooltip-pip-width: 0.75rem;
$tooltip-pip-height: $tooltip-pip-width * 0.866;
$tooltip-radius: $global-radius;

// 55. Top Bar
// -----------

$topbar-padding: 0.5rem;
$topbar-background: $light-gray;
$topbar-title-spacing: 0.5rem rem-calc(15) 0.5rem 0;
$topbar-input-width: 200px;
$topbar-unstack-breakpoint: medium;

// 56. Xy Grid
// -----------

$xy-grid: true;
$grid-container: $global-width;
$grid-columns: 12;
$grid-margin-gutters: (
        small: rem-calc(20),
        medium: rem-calc(30),
);
$grid-padding-gutters: $grid-margin-gutters;
$grid-container-padding: $grid-padding-gutters;
$grid-container-max: $global-width;
$xy-block-grid-max: 8;

@import "~foundation-sites/scss/foundation.scss";

// -----------

// Global styles
@include foundation-global-styles;
@include foundation-forms;
@include foundation-typography;

// Grids (choose one)
@include foundation-xy-grid-classes;
// @include foundation-grid;
// @include foundation-flex-grid;

// Generic components
@include foundation-button;
//@include foundation-button-group;
@include foundation-close-button;
@include foundation-label;
//@include foundation-progress-bar;
//@include foundation-slider;
//@include foundation-switch;
@include foundation-table;

// Basic components
//@include foundation-badge;
@include foundation-breadcrumbs;
//@include foundation-callout;
//@include foundation-card;
@include foundation-dropdown;
@include foundation-pagination;
@include foundation-tooltip;

// Containers
@include foundation-accordion;
//@include foundation-media-object;
//@include foundation-orbit;
@include foundation-responsive-embed;
//@include foundation-tabs;
//@include foundation-thumbnail;

// Menu-based containers
@include foundation-menu;
@include foundation-menu-icon;
@include foundation-accordion-menu;
//@include foundation-drilldown-menu;
@include foundation-dropdown-menu;

// Layout components
@include foundation-off-canvas;
@include foundation-reveal;
@include foundation-sticky;
@include foundation-title-bar;
@include foundation-top-bar;

// Helpers
//@include foundation-float-classes;
@include foundation-flex-classes;
@include foundation-visibility-classes;
@include foundation-prototype-classes;