@import "functions";
@import "colors";

//
// theme color
//
$Primary-01: #330002;
$Primary-02: #ec2028;
$Primary-03: #fbd0d2;
$Primary-04: #fef6f6;

$Secondary-01: #331f00;
$Secondary-02: #ec9a20;
$Secondary-03: #fbead0;
$Secondary-04: #fefbf6;

$Gray-01: #0a0a0a;
$Gray-02: #666666;
$Gray-03: #f0f0f0;
$Gray-04: #fafafa;

$primary: $blue !default;
$secondary: $gray-600 !default;
$success: $green !default;
$info: $cyan !default;
$warning: $yellow !default;
$alert: $red !default;
$light: $gray-100 !default;
$dark: $gray-900 !default;

$theme-colors: (
        "primary": $primary,
        "secondary": $secondary,
        "success": $success,
        "info": $info,
        "warning": $warning,
        "alert": $alert,
        "light": $light,
        "dark": $dark
) !default;

// See https://www.w3.org/TR/WCAG20/#visual-audio-contrast-contrast

$min-contrast-ratio: 4.5 !default;

$color-contrast-dark: $black !default;
$color-contrast-light: $white !default;

// Body
//
// Settings for the `<body>` element.

$body-color: #0a0a0a !default;
$body-bg: $white !default;
$body-size: 16px !default;

// Links
//
// Style anchor elements.

$link-color: #0a0a0a !default;
$link-decoration: underline !default;
$link-hover-color: shift-color($link-color, 20%) !default;
$link-hover-decoration: null !default;

// Paragraphs
//
// Style p element.

$paragraph-margin-bottom: 15px !default;

// Layout breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 1024px;
$xl: 1200px;
$xxl: 1400px;
$xxxl: 1880px;
$wp: 782px;

$mq-breakpoints: (
        xs: 0,
        sm: fs($sm),
        md: fs($md),
        lg: fs($lg),
        xl: fs($xl),
        xxl: fs($xxl),
        xxxl: fs($xxxl),
        tablet: fs($md),
        desktop: fs($lg),
        wp: fs($wp)
) !default;

// Layout containers
//
// Define the maximum width of `.layout-container` for different screen sizes.

$screen-sm: 540px;
$screen-md: 720px;
$screen-lg: 960px;
$screen-xl: 1140px;
$screen-xxl: 1320px;
$screen-xxxl: 1680px;

$container-max-widths: (
        sm: fs($screen-sm),
        md: fs($screen-md),
        lg: fs($screen-lg),
        xl: fs($screen-xl),
        xxl: fs($screen-xxl),
        xxxl: fs($screen-xxxl)
) !default;

// Typography
//
// Font, line-height, gutter, and more.

$font-sizes: (
        h1: 36px,
        h2: 30px,
        h3: 25px,
        h4: 21px,
        h5: 18px,
        h6: 16px,
) !default;

$font-sizes-large: (
        h1: 42px,
        h2: 35px,
        h3: 29px,
        h4: 24px,
        h5: 20px,
        h6: 17px,
) !default;

$line-height-global: 1.5 !default;
$line-height-header: 1.3 !default;
$line-height-paragraph: 1.7 !default;

$font-weight-lighter: lighter !default;
$font-weight-light: 300 !default;
$font-weight-normal: 400 !default;
$font-weight-medium: 500 !default;
$font-weight-semibold: 600 !default;
$font-weight-bold: 700 !default;
$font-weight-bolder: bolder !default;

// Spacers

$gutter-xs: 10px !default;
$gutter: 15px !default;

$gap-xs: $gutter-xs * 2;
$gap: $gutter * 2;

$spacers: (
        gutter-xs: fs($gutter-xs),
        gutter: fs($gutter),
        gap-xs: fs($gap-xs),
        gap: fs($gap)
) !default;

//

$scrollbar-w: 4px !default;
$scrollbar-h: 4px !default;

$header-font: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe WPC", "Segoe UI", system-ui, "Ubuntu", Arial, cursive, sans-serif;
$body-font: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe WPC", "Segoe UI", system-ui, "Ubuntu", Arial, cursive, sans-serif;
$awesome-font: "Font Awesome 6 Pro", "Font Awesome 6 Brands", "Font Awesome 6 Free", sans-serif;
