@mixin font-face (
    $font-family,
    $font-style: normal,
    $font-weight: 400,
    $file_name,
    $base: '../fonts',
) {
    $base: unquote($base);
    $unique_id: unique_id();
    @font-face {
        font-family: quote($font-family);
        font-style: $font-style;
        font-weight: $font-weight;
        font-display: swap;
        src: url("#{$base}/WOFF2/#{$file_name}.woff2?v=#{$unique_id}") format("woff2"),
             url("#{$base}/OTF/#{$file_name}.otf?v=#{$unique_id}") format("opentype"),
             url("#{$base}/TTF/#{$file_name}.ttf?v=#{$unique_id}") format("truetype");
    }
}

/** Poppins fonts */
//$poppins_base: unquote("../../storage/fonts/SVN-Poppins");

//@include font-face(Poppins, normal, 300, SVN-Poppins-Light, $poppins_base);
//@include font-face(Poppins, italic, 300, SVN-Poppins-LightItalic, $poppins_base);

//@include font-face(Poppins, normal, 400, SVN-Poppins-Regular, $poppins_base);
//@include font-face(Poppins, italic, 400, SVN-Poppins-RegularItalic, $poppins_base);

//@include font-face(Poppins, normal, 500, SVN-Poppins-Medium, $poppins_base);
//@include font-face(Poppins, normal, 600, SVN-Poppins-SemiBold, $poppins_base);
//@include font-face(Poppins, normal, 700, SVN-Poppins-Bold, $poppins_base);
