/** https://github.com/necolas/normalize.css */
//@import "~normalize.css";

/** foundation */
@import "./foundation/zf";

/** aos */
//@import '~aos/src/sass/aos';

/** Fancybox */
//@import "~@fancyapps/ui/dist/fancybox/fancybox.css";
